In [356]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
from datetime import datetime

### Description of the Columns
- 1) year | The year the month occurred
- 2) month | The month for which data was collected
- 3) carrier The airline code
- 4) carrier_name | The airline name
- 5) airport | The airport code
- 6) airport_name | The airport name
- 7) arr_flights | # of flights that arrived at the airport
- 8) arr_del15 | # of flights that arrived >= 15 minutes late
- 9) carrier_ct | # of flights delayed due to the carrier
- 10) weather_ct | # of flights delayed due to weather
- 11) nas_ct | # of flights delayed due to national air system
- 12) security_ct | # of flights delayed due to security
- 13) late_aircraft_ct | # flights delayed because a previous flight using the same aircraft was late
- 14) arr_cancelled | # of canceled arrivals
- 15) arr_diverted | # of scheduled arrivals that were diverted
- 16) arr_delay | Sum of the delay minutes
- 17) carrier_delay | Total minutes of delays due to carriers
- 18) weather_delay | Total minutes of delays due to weather
- 19) nas_delay | Total minutes of delays due to natl. air service
- 20) security_delay | Total minutes of delays due to security
- 21) late_aircraft_delay | Similar to late_aircraft_ct. The total minutes of delay due to a previous flight using the same aircraft arriving late.

In [ ]:
df_original = pd.read_csv('950307216_52018_2911_airline_delay_causes.csv')

In [379]:
df = df_original.copy()

In [380]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240893 entries, 0 to 240892
Data columns (total 22 columns):
year                   240893 non-null int64
 month                 240893 non-null int64
carrier                240893 non-null object
carrier_name           240893 non-null object
airport                240893 non-null object
airport_name           240893 non-null object
arr_flights            240545 non-null float64
arr_del15              240496 non-null float64
carrier_ct             240545 non-null float64
 weather_ct            240545 non-null float64
nas_ct                 240545 non-null float64
security_ct            240545 non-null float64
late_aircraft_ct       240545 non-null float64
arr_cancelled          240545 non-null float64
arr_diverted           240545 non-null float64
 arr_delay             240545 non-null float64
 carrier_delay         240545 non-null float64
weather_delay          240545 non-null float64
nas_delay              240545 non-null float64
security_delay         240545 non-null float64
late_aircraft_delay    240545 non-null float64
Unnamed: 21            0 non-null float64
dtypes: float64(16), int64(2), object(4)
memory usage: 40.4+ MB

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2003,6,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",307.0,56.0,14.68,10.79,...,9.96,1.0,1.0,2530.0,510.0,621.0,676.0,25.0,698.0,NaN
1,2003,6,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",90.0,27.0,7.09,2.00,...,7.16,0.0,0.0,1390.0,271.0,83.0,581.0,0.0,455.0,NaN
2,2003,6,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",752.0,186.0,33.99,27.82,...,17.53,5.0,0.0,8314.0,1367.0,1722.0,3817.0,139.0,1269.0,NaN
3,2003,6,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",842.0,174.0,60.24,20.54,...,40.75,9.0,1.0,8344.0,3040.0,1032.0,1835.0,115.0,2322.0,NaN
4,2003,6,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",383.0,55.0,14.90,8.91,...,16.61,0.0,0.0,3137.0,815.0,574.0,555.0,0.0,1193.0,NaN

In [381]:
# Drop the columns we don't need, 'Unnamed: 21, carrier, airport'
df.drop('Unnamed: 21', axis=1, inplace=True)

# Drop the null entries of the column, arr_flight.
df.dropna(subset=['arr_flights'], inplace=True)

# df[df.arr_del15.isna()]
df.dropna(subset=['arr_del15'], inplace=True)

# Rename the columns, carrier->carrier_code, airport->airport_code
df.rename(columns={'carrier':'carrier_code', 'airport':'airport_code'},
                   inplace=True)
# df.drop('airport', axis=1, inplace=True)
# print(df.head())


df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240496 entries, 0 to 240892
Data columns (total 21 columns):
year                   240496 non-null int64
 month                 240496 non-null int64
carrier_code           240496 non-null object
carrier_name           240496 non-null object
airport_code           240496 non-null object
airport_name           240496 non-null object
arr_flights            240496 non-null float64
arr_del15              240496 non-null float64
carrier_ct             240496 non-null float64
 weather_ct            240496 non-null float64
nas_ct                 240496 non-null float64
security_ct            240496 non-null float64
late_aircraft_ct       240496 non-null float64
arr_cancelled          240496 non-null float64
arr_diverted           240496 non-null float64
 arr_delay             240496 non-null float64
 carrier_delay         240496 non-null float64
weather_delay          240496 non-null float64
nas_delay              240496 non-null float64
security_delay         240496 non-null float64
late_aircraft_delay    240496 non-null float64
dtypes: float64(15), int64(2), object(4)
memory usage: 40.4+ MB

In [383]:
# Get rid of the whitespace in the columns
print(df.columns)
col_list = pd.Series(df.columns)
new_col_list = col_list.apply(lambda x: x.strip())
df.columns = new_col_list
df.columns

Index(['year', ' month', 'carrier_code', 'carrier_name', 'airport_code',
       'airport_name', 'arr_flights', 'arr_del15', 'carrier_ct', ' weather_ct',
       'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled',
       'arr_diverted', ' arr_delay', ' carrier_delay', 'weather_delay',
       'nas_delay', 'security_delay', 'late_aircraft_delay'],
      dtype='object')

Index(['year', 'month', 'carrier_code', 'carrier_name', 'airport_code',
       'airport_name', 'arr_flights', 'arr_del15', 'carrier_ct', 'weather_ct',
       'nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_cancelled',
       'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay',
       'nas_delay', 'security_delay', 'late_aircraft_delay'],
      dtype='object')

In [384]:
# These columns are recoded in minutes. So, the type of the data should be integer.
# arr_delay, carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay

# Change the type of the columns, 'arr_cancelled, arr_diverted', from float64 to int64
df.arr_cancelled = df.arr_cancelled.astype('int64')
df.arr_diverted = df.arr_diverted.astype('int64')
df.arr_flights = df.arr_flights.astype('int64')
df.arr_del15 = df.arr_del15.astype('int64')
df.arr_delay = df.arr_delay.astype('int64')
df.carrier_delay = df.carrier_delay.astype('int64')
df.weather_delay = df.weather_delay.astype('int64')
df.nas_delay = df.nas_delay.astype('int64')
df.security_delay = df.security_delay.astype('int64')
df.late_aircraft_delay = df.late_aircraft_delay.astype('int64')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240496 entries, 0 to 240892
Data columns (total 21 columns):
year                   240496 non-null int64
month                  240496 non-null int64
carrier_code           240496 non-null object
carrier_name           240496 non-null object
airport_code           240496 non-null object
airport_name           240496 non-null object
arr_flights            240496 non-null int64
arr_del15              240496 non-null int64
carrier_ct             240496 non-null float64
weather_ct             240496 non-null float64
nas_ct                 240496 non-null float64
security_ct            240496 non-null float64
late_aircraft_ct       240496 non-null float64
arr_cancelled          240496 non-null int64
arr_diverted           240496 non-null int64
arr_delay              240496 non-null int64
carrier_delay          240496 non-null int64
weather_delay          240496 non-null int64
nas_delay              240496 non-null int64
security_delay         240496 non-null int64
late_aircraft_delay    240496 non-null int64
dtypes: float64(5), int64(12), object(4)
memory usage: 40.4+ MB
None

In [385]:
# Combine the two columns, year and month, and then convert the datatype to datetime

date = pd.DataFrame({'month':df.month, 'year':df.year, 'day':[1]*len(df)})
df['date'] = pd.to_datetime(date, format='%Y%m%d')
# df.drop(['year','month'], axis=1, inplace=True)
# cols = df.columns.tolist()
# new_cols = cols[-1:] + cols[:-1]
# df = df[new_cols]
# df.head()

In [386]:
# Split 'airport_name' into the airport and the city
splt_airport = df.airport_name.str.split(':')
splt_airport = pd.Series(splt_airport)

df['city'] = splt_airport.apply(lambda x: x[0].split(',')[0])
df['state'] = splt_airport.apply(lambda x: x[0].split(',')[1])
df['airport'] = splt_airport.apply(lambda x: x[1])
df.drop(['airport_name'], axis=1, inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240496 entries, 0 to 240892
Data columns (total 24 columns):
year                   240496 non-null int64
month                  240496 non-null int64
carrier_code           240496 non-null object
carrier_name           240496 non-null object
airport_code           240496 non-null object
arr_flights            240496 non-null int64
arr_del15              240496 non-null int64
carrier_ct             240496 non-null float64
weather_ct             240496 non-null float64
nas_ct                 240496 non-null float64
security_ct            240496 non-null float64
late_aircraft_ct       240496 non-null float64
arr_cancelled          240496 non-null int64
arr_diverted           240496 non-null int64
arr_delay              240496 non-null int64
carrier_delay          240496 non-null int64
weather_delay          240496 non-null int64
nas_delay              240496 non-null int64
security_delay         240496 non-null int64
late_aircraft_delay    240496 non-null int64
date                   240496 non-null datetime64[ns]
city                   240496 non-null object
state                  240496 non-null object
airport                240496 non-null object
dtypes: datetime64[ns](1), float64(5), int64(12), object(6)
memory usage: 45.9+ MB
None

In [392]:
cols = df.columns.tolist()
cols

['year',
 'month',
 'carrier_code',
 'carrier_name',
 'airport_code',
 'arr_flights',
 'arr_del15',
 'carrier_ct',
 'weather_ct',
 'nas_ct',
 'security_ct',
 'late_aircraft_ct',
 'arr_cancelled',
 'arr_diverted',
 'arr_delay',
 'carrier_delay',
 'weather_delay',
 'nas_delay',
 'security_delay',
 'late_aircraft_delay',
 'date',
 'city',
 'state',
 'airport']

In [397]:
cols = df.columns.tolist()
cols

['year',
 'month',
 'carrier_code',
 'carrier_name',
 'airport_code',
 'arr_flights',
 'arr_del15',
 'carrier_ct',
 'weather_ct',
 'nas_ct',
 'security_ct',
 'late_aircraft_ct',
 'arr_cancelled',
 'arr_diverted',
 'arr_delay',
 'carrier_delay',
 'weather_delay',
 'nas_delay',
 'security_delay',
 'late_aircraft_delay',
 'date',
 'city',
 'state',
 'airport']

In [400]:
new_cols

['date',
 'year',
 'month',
 'carrier_code',
 'carrier_name',
 'city',
 'state',
 'airport_code',
 'airportarr_flights',
 'arr_del15',
 'carrier_ct',
 'weather_ct',
 'nas_ct',
 'security_ct',
 'late_aircraft_ct',
 'arr_cancelled',
 'arr_diverted',
 'arr_delay',
 'carrier_delay',
 'weather_delay',
 'nas_delay',
 'security_delay',
 'late_aircraft_delay']

In [403]:
cols = df.columns.tolist()
new_cols = []
new_cols = ['date','year','month','carrier_code','carrier_name',
 'city','state','airport_code','airport','arr_flights',
 'arr_del15','carrier_ct','weather_ct','nas_ct','security_ct',
 'late_aircraft_ct','arr_cancelled','arr_diverted','arr_delay',
 'carrier_delay','weather_delay','nas_delay','security_delay',
 'late_aircraft_delay']
# new_cols.append(cols[-4])
# new_cols = cols[0:4] + cols[-3:] + cols[4:-3]
df = df[new_cols]
df.head()
# new_cols

,date,year,month,carrier_code,carrier_name,city,state,airport_code,airport,arr_flights,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2003-06-01,2003,6,AA,American Airlines Inc.,Albuquerque,NM,ABQ,Albuquerque International Sunport,307,...,1.48,9.96,1,1,2530,510,621,676,25,698
1,2003-06-01,2003,6,AA,American Airlines Inc.,Anchorage,AK,ANC,Ted Stevens Anchorage International,90,...,0.00,7.16,0,0,1390,271,83,581,0,455
2,2003-06-01,2003,6,AA,American Airlines Inc.,Atlanta,GA,ATL,Hartsfield-Jackson Atlanta International,752,...,1.90,17.53,5,0,8314,1367,1722,3817,139,1269
3,2003-06-01,2003,6,AA,American Airlines Inc.,Austin,TX,AUS,Austin - Bergstrom International,842,...,4.69,40.75,9,1,8344,3040,1032,1835,115,2322
4,2003-06-01,2003,6,AA,American Airlines Inc.,Hartford,CT,BDL,Bradley International,383,...,0.00,16.61,0,0,3137,815,574,555,0,1193

In [409]:
df[df.city.str.contains('-')].city.value_counts()

Scranton/Wilkes-Barre    521
Name: city, dtype: int64

In [410]:
df[df.city.str.contains('-')]

,date,year,month,carrier_code,carrier_name,city,state,airport_code,airport,arr_flights,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
244,2003-06-01,2003,6,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,60,...,0.00,1.00,1,0,606,260,0,272,0,74
1491,2003-07-01,2003,7,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,62,...,0.00,2.17,4,0,1186,512,168,322,0,184
2740,2003-08-01,2003,8,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,62,...,0.00,0.00,4,0,1064,271,90,703,0,0
3987,2003-09-01,2003,9,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,60,...,0.00,1.93,1,0,892,339,61,350,0,142
5227,2003-10-01,2003,10,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,62,...,0.00,1.00,0,0,581,321,148,90,0,22
6472,2003-11-01,2003,11,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,60,...,0.00,3.29,6,1,1461,501,533,90,0,337
7732,2003-12-01,2003,12,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,62,...,0.00,6.00,3,0,1172,612,82,87,0,391
9001,2004-01-01,2004,1,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,62,...,0.00,4.00,9,1,1889,941,169,265,0,514
9610,2004-01-01,2004,1,OH,Comair Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,187,...,0.00,0.90,5,1,2728,1302,876,430,0,120
10393,2004-02-01,2004,2,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,58,...,0.00,8.53,4,0,731,206,23,65,0,437
10993,2004-02-01,2004,2,OH,Comair Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,174,...,0.00,0.00,2,4,2040,301,1438,301,0,0
11419,2004-02-01,2004,2,US,US Airways Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,23,...,0.00,0.74,1,0,43,11,0,0,0,32
11772,2004-03-01,2004,3,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,62,...,0.52,15.37,2,0,1859,505,0,147,74,1133
12370,2004-03-01,2004,3,OH,Comair Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,182,...,0.00,0.00,3,0,946,236,465,245,0,0
12798,2004-03-01,2004,3,US,US Airways Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,31,...,0.00,1.93,2,0,83,4,0,0,0,79
13155,2004-04-01,2004,4,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,60,...,0.00,13.92,0,0,1682,326,0,300,0,1056
13746,2004-04-01,2004,4,OH,Comair Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,176,...,0.00,0.00,1,0,703,384,196,123,0,0
14175,2004-04-01,2004,4,US,US Airways Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,30,...,0.00,5.33,0,0,349,9,0,60,0,280
14525,2004-05-01,2004,5,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,62,...,0.00,14.83,10,0,2385,276,62,848,0,1199
15119,2004-05-01,2004,5,OH,Comair Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,181,...,0.00,0.00,4,0,2255,968,1142,145,0,0
15544,2004-05-01,2004,5,US,US Airways Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,31,...,0.00,4.82,2,0,771,108,73,328,0,262
15901,2004-06-01,2004,6,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,86,...,0.00,30.25,2,2,3072,175,0,346,0,2551
16510,2004-06-01,2004,6,OH,Comair Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,150,...,0.00,0.00,3,0,2705,696,1577,432,0,0
16952,2004-06-01,2004,6,US,US Airways Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,30,...,0.00,5.62,3,0,715,212,0,98,0,405
17303,2004-07-01,2004,7,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,37,...,0.00,6.47,1,1,1078,202,0,303,0,573
17913,2004-07-01,2004,7,OH,Comair Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,150,...,0.00,0.00,2,0,1945,944,423,578,0,0
18021,2004-07-01,2004,7,OO,SkyWest Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,53,...,0.00,2.00,0,0,1773,942,0,739,0,92
18360,2004-07-01,2004,7,US,US Airways Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,31,...,0.00,2.01,6,0,366,100,0,177,0,89
18711,2004-08-01,2004,8,DH,Atlantic Coast Airlines,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,31,...,0.00,3.07,0,0,346,130,3,0,0,213
19313,2004-08-01,2004,8,OH,Comair Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,151,...,0.00,0.00,4,1,1140,514,225,401,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230332,2017-10-01,2017,10,OO,SkyWest Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,142,...,0.00,8.42,0,1,1646,994,0,96,0,556
230781,2017-11-01,2017,11,DL,Delta Air Lines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,29,...,0.00,0.00,0,0,0,0,0,0,0,0
230927,2017-11-01,2017,11,EV,ExpressJet Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,56,...,0.00,11.44,1,0,916,245,0,96,0,575
231172,2017-11-01,2017,11,OO,SkyWest Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,130,...,0.00,7.20,1,0,858,316,7,183,0,352
231811,2017-12-01,2017,12,DL,Delta Air Lines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,28,...,0.00,0.00,2,0,0,0,0,0,0,0
232227,2017-12-01,2017,12,EV,ExpressJet Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,44,...,0.00,11.20,1,0,858,30,0,199,0,629
232482,2017-12-01,2017,12,OO,SkyWest Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,70,...,0.00,1.96,0,0,650,251,57,234,0,108
232985,2018-01-01,2018,1,DL,Delta Air Lines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,27,...,0.00,0.00,1,0,26,26,0,0,0,0
233131,2018-01-01,2018,1,EV,ExpressJet Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,51,...,0.00,9.06,3,0,578,134,0,46,0,398
233310,2018-01-01,2018,1,G4,Allegiant Air,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,2,...,0.00,0.00,0,0,46,43,0,3,0,0
233610,2018-01-01,2018,1,OH,PSA Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,98,...,0.00,7.34,6,0,811,234,113,47,0,417
233712,2018-01-01,2018,1,OO,SkyWest Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,77,...,0.00,10.46,1,0,3173,1772,119,120,0,1162
234321,2018-03-01,2018,3,9E,Endeavor Air Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,20,...,0.00,0.00,0,0,128,107,0,21,0,0
234653,2018-03-01,2018,3,DL,Delta Air Lines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,30,...,0.00,1.15,0,0,164,131,0,0,0,33
234799,2018-03-01,2018,3,EV,ExpressJet Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,88,...,0.00,14.46,8,0,1989,1038,183,47,0,721
235791,2018-03-01,2018,3,OH,PSA Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,93,...,0.00,5.39,6,1,745,378,9,128,0,230
235892,2018-03-01,2018,3,OO,SkyWest Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,45,...,0.00,3.52,1,0,788,322,0,55,0,411
235985,2018-02-01,2018,2,EV,ExpressJet Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,64,...,0.00,10.23,1,2,2109,163,146,881,0,919
237021,2018-02-01,2018,2,DL,Delta Air Lines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,24,...,0.00,0.83,0,0,41,14,12,0,0,15
237178,2018-02-01,2018,2,OH,PSA Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,84,...,0.00,6.02,3,3,1018,95,395,121,0,407
237280,2018-02-01,2018,2,OO,SkyWest Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,64,...,0.00,3.40,7,1,916,357,6,247,0,306
237602,2018-04-01,2018,4,9E,Endeavor Air Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,49,...,0.00,0.00,0,0,265,265,0,0,0,0
237939,2018-04-01,2018,4,DL,Delta Air Lines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,30,...,0.00,0.80,0,0,90,75,3,0,0,12
238087,2018-04-01,2018,4,EV,ExpressJet Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,67,...,0.00,17.03,3,0,1124,101,0,60,0,963
238580,2018-04-01,2018,4,OH,PSA Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,114,...,0.00,6.18,1,0,578,247,15,91,0,225
238683,2018-04-01,2018,4,OO,SkyWest Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,26,...,0.00,1.87,0,0,326,93,93,36,0,104
239606,2018-05-01,2018,5,DL,Delta Air Lines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,31,...,0.00,2.29,0,0,767,59,20,600,0,88
239750,2018-05-01,2018,5,EV,ExpressJet Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,62,...,0.00,6.98,3,1,757,145,154,50,0,408
240226,2018-05-01,2018,5,OH,PSA Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,146,...,0.00,11.50,3,0,2277,889,490,422,0,476
240326,2018-05-01,2018,5,OO,SkyWest Airlines Inc.,Scranton/Wilkes-Barre,PA,AVP,Wilkes Barre Scranton International,80,...,0.00,2.85,0,0,444,125,24,173,0,122

In [404]:
df.city.value_counts()

Washington               4443
New York                 3951
Chicago                  3419
Portland                 3216
Houston                  3117
Los Angeles              2451
Las Vegas                2439
Phoenix                  2392
Columbus                 2388
San Diego                2368
Detroit                  2355
Denver                   2353
Boston                   2304
Kansas City              2302
Dallas/Fort Worth        2298
Atlanta                  2268
San Francisco            2255
Indianapolis             2252
Raleigh/Durham           2249
Austin                   2246
Pittsburgh               2244
New Orleans              2238
Philadelphia             2237
Minneapolis              2210
Orlando                  2189
Seattle                  2188
St. Louis                2159
Newark                   2143
Baltimore                2091
Rochester                2074
                         ...
Punta Gorda                12
Del Rio                    11
Hoolehua                   10
Lanai                      10
Hickory                    10
Topeka                      9
Saipan                      9
Unalaska                    8
Staunton                    8
Scottsbluff                 7
Pierre                      7
Stillwater                  6
Cape Girardeau              6
Quincy                      6
Owensboro                   5
Stockton                    5
North Platte                5
CONCORD                     5
Ogdensburg                  5
Hagerstown                  5
Belleville                  5
Portsmouth                  5
Marathon                    5
Sanford                     5
Liberal                     4
Farmington                  3
Greenville                  3
Salina                      2
Fort Collins/Loveland       1
Youngstown/Warren           1
Name: city, Length: 374, dtype: int64

In [421]:
df[df.state.str.contains('TT')]

,date,year,month,carrier_code,carrier_name,city,state,airport_code,airport,arr_flights,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
133157,2010-12-01,2010,12,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,10,...,0.00,0.68,0,0,429,357,0,55,0,17
134524,2011-01-01,2011,1,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,7.14,0,0,1014,266,0,116,0,632
135810,2011-02-01,2011,2,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,29,...,0.00,5.41,0,0,585,96,0,239,0,250
135849,2011-02-01,2011,2,CO,Continental Air Lines Inc.,Saipan,TT,SPN,Francisco C. Ada Saipan International,1,...,0.00,0.00,0,0,0,0,0,0,0,0
137101,2011-03-01,2011,3,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,32,...,0.00,4.32,0,0,280,108,0,49,0,123
137140,2011-03-01,2011,3,CO,Continental Air Lines Inc.,Saipan,TT,SPN,Francisco C. Ada Saipan International,1,...,0.00,0.00,0,0,0,0,0,0,0,0
138397,2011-04-01,2011,4,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,3.00,0,0,205,0,0,48,0,157
139684,2011-05-01,2011,5,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,1.85,0,0,179,56,0,56,0,67
139720,2011-05-01,2011,5,CO,Continental Air Lines Inc.,Saipan,TT,SPN,Francisco C. Ada Saipan International,1,...,0.00,0.00,0,0,0,0,0,0,0,0
140974,2011-06-01,2011,6,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,2.00,0,0,181,55,0,14,0,112
142283,2011-07-01,2011,7,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,33,...,0.00,4.25,0,0,855,66,0,188,0,601
142319,2011-07-01,2011,7,CO,Continental Air Lines Inc.,Saipan,TT,SPN,Francisco C. Ada Saipan International,2,...,0.00,0.00,0,0,0,0,0,0,0,0
143597,2011-08-01,2011,8,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,2.97,0,0,1684,626,0,12,0,1046
144905,2011-09-01,2011,9,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,1.00,0,0,370,60,0,67,0,243
146201,2011-10-01,2011,10,CO,Continental Air Lines Inc.,Guam,TT,GUM,Guam International,27,...,0.00,0.57,0,0,182,36,0,128,0,18
146904,2011-10-01,2011,10,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,4,...,0.00,1.00,0,0,131,95,0,8,0,28
148212,2011-11-01,2011,11,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,2.26,1,0,335,59,0,207,0,69
149514,2011-12-01,2011,12,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,0.11,0,0,95,91,0,0,0,4
150818,2012-01-01,2012,1,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,5.02,0,0,424,94,0,130,0,200
152021,2012-02-01,2012,2,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,29,...,0.00,3.39,0,0,285,0,0,106,0,179
153222,2012-03-01,2012,3,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,7.28,0,0,609,52,0,319,0,238
154424,2012-04-01,2012,4,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,7.08,0,0,787,173,0,185,0,429
154474,2012-04-01,2012,4,UA,United Air Lines Inc.,Saipan,TT,SPN,Francisco C. Ada Saipan International,2,...,0.00,0.00,0,0,0,0,0,0,0,0
155614,2012-05-01,2012,5,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,2.14,0,0,129,25,0,12,0,92
156812,2012-06-01,2012,6,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,4.71,0,0,396,144,0,9,0,243
157113,2012-06-01,2012,6,UA,United Air Lines Inc.,Saipan,TT,SPN,Francisco C. Ada Saipan International,1,...,0.00,0.00,0,0,0,0,0,0,0,0
158013,2012-07-01,2012,7,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,6.28,0,0,910,235,0,113,0,562
159210,2012-08-01,2012,8,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,10.78,0,0,666,177,0,46,0,443
160403,2012-09-01,2012,9,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,1.52,0,0,234,134,0,19,0,81
161571,2012-10-01,2012,10,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,6.46,0,0,491,29,0,66,0,396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222738,2017-03-01,2017,3,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,9,...,0.00,0.00,0,0,62,62,0,0,0,0
223012,2017-03-01,2017,3,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,2.94,0,0,346,164,0,39,0,143
223768,2017-04-01,2017,4,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,8,...,0.00,0.00,0,0,22,22,0,0,0,0
224054,2017-04-01,2017,4,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,0.00,0,0,45,18,0,27,0,0
224810,2017-05-01,2017,5,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,9,...,0.07,0.00,0,0,15,14,0,0,1,0
225089,2017-05-01,2017,5,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,0.39,0,0,114,70,0,0,0,44
225863,2017-06-01,2017,6,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,13,...,0.00,0.00,0,0,44,44,0,0,0,0
226159,2017-06-01,2017,6,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,0.00,0,1,35,35,0,0,0,0
226576,2017-07-01,2017,7,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,13,...,0.00,0.00,0,0,0,0,0,0,0,0
227219,2017-07-01,2017,7,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,1.03,0,0,313,165,0,94,0,54
227983,2017-08-01,2017,8,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,12,...,0.00,0.00,0,0,0,0,0,0,0,0
228289,2017-08-01,2017,8,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,3.00,0,0,274,155,0,49,0,70
229041,2017-09-01,2017,9,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,9,...,0.00,0.00,0,0,21,21,0,0,0,0
229337,2017-09-01,2017,9,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,2.00,0,0,86,0,0,0,0,86
229955,2017-10-01,2017,10,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,0.00,0,0,17,0,0,17,0,0
230276,2017-10-01,2017,10,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,9,...,1.00,0.00,0,0,156,140,0,0,16,0
231114,2017-11-01,2017,11,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,8,...,0.00,0.00,0,0,16,16,0,0,0,0
231401,2017-11-01,2017,11,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,1.72,0,0,198,131,0,18,0,49
232021,2017-12-01,2017,12,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,1.00,0,0,85,48,0,0,0,37
232423,2017-12-01,2017,12,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,11,...,0.00,0.00,0,0,22,22,0,0,0,0
233434,2018-01-01,2018,1,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,10,...,0.00,0.00,0,0,72,72,0,0,0,0
233953,2018-01-01,2018,1,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,2.00,0,0,212,84,0,18,0,110
235066,2018-03-01,2018,3,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,2.89,0,0,633,259,0,237,0,137
235616,2018-03-01,2018,3,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,9,...,0.00,0.00,0,0,29,29,0,0,0,0
236283,2018-02-01,2018,2,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,8,...,0.00,0.00,0,0,2568,92,2475,1,0,0
237521,2018-02-01,2018,2,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,28,...,0.00,0.08,0,0,184,135,0,43,0,6
238395,2018-04-01,2018,4,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,8,...,0.00,0.00,0,0,1113,1113,0,0,0,0
238935,2018-04-01,2018,4,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,30,...,0.00,1.53,0,0,265,102,17,96,0,50
240049,2018-05-01,2018,5,HA,Hawaiian Airlines Inc.,Pago Pago,TT,PPG,Pago Pago International,9,...,0.00,0.00,0,0,61,61,0,0,0,0
240572,2018-05-01,2018,5,UA,United Air Lines Inc.,Guam,TT,GUM,Guam International,31,...,0.00,0.95,0,0,252,48,0,82,0,122

In [416]:
df[df.state=='CA']

Empty DataFrame
Columns: [date, year, month, carrier_code, carrier_name, city, state, airport_code, airport, arr_flights, arr_del15, carrier_ct, weather_ct, nas_ct, security_ct, late_aircraft_ct, arr_cancelled, arr_diverted, arr_delay, carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay]
Index: []

[0 rows x 24 columns]

In [417]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240496 entries, 0 to 240892
Data columns (total 24 columns):
date                   240496 non-null datetime64[ns]
year                   240496 non-null int64
month                  240496 non-null int64
carrier_code           240496 non-null object
carrier_name           240496 non-null object
city                   240496 non-null object
state                  240496 non-null object
airport_code           240496 non-null object
airport                240496 non-null object
arr_flights            240496 non-null int64
arr_del15              240496 non-null int64
carrier_ct             240496 non-null float64
weather_ct             240496 non-null float64
nas_ct                 240496 non-null float64
security_ct            240496 non-null float64
late_aircraft_ct       240496 non-null float64
arr_cancelled          240496 non-null int64
arr_diverted           240496 non-null int64
arr_delay              240496 non-null int64
carrier_delay          240496 non-null int64
weather_delay          240496 non-null int64
nas_delay              240496 non-null int64
security_delay         240496 non-null int64
late_aircraft_delay    240496 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(12), object(6)
memory usage: 55.9+ MB

In [422]:
df.arr_delay

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240496 entries, 0 to 240892
Data columns (total 24 columns):
date                   240496 non-null datetime64[ns]
year                   240496 non-null int64
month                  240496 non-null int64
carrier_code           240496 non-null object
carrier_name           240496 non-null object
city                   240496 non-null object
state                  240496 non-null object
airport_code           240496 non-null object
airport                240496 non-null object
arr_flights            240496 non-null int64
arr_del15              240496 non-null int64
carrier_ct             240496 non-null float64
weather_ct             240496 non-null float64
nas_ct                 240496 non-null float64
security_ct            240496 non-null float64
late_aircraft_ct       240496 non-null float64
arr_cancelled          240496 non-null int64
arr_diverted           240496 non-null int64
arr_delay              240496 non-null int64
carrier_delay          240496 non-null int64
weather_delay          240496 non-null int64
nas_delay              240496 non-null int64
security_delay         240496 non-null int64
late_aircraft_delay    240496 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(12), object(6)
memory usage: 55.9+ MB

In [411]:
df.to_csv("clean_flights_delay.csv", index=False)

In [59]:
airline_codes[airline_codes.Airline.str.contains('Republic')]

   carrier  ICAO             Airline    Call sign Country/Region Comments
54      RW   RPA   Republic Airlines   BRICKYARD   United States      NaN

In [402]:
df

,year,month,carrier_code,carrier_name,airport_code,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,...,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,date,city,state,airport
0,2003,6,AA,American Airlines Inc.,ABQ,307,56,14.68,10.79,19.09,...,2530,510,621,676,25,698,2003-06-01,Albuquerque,NM,Albuquerque International Sunport
1,2003,6,AA,American Airlines Inc.,ANC,90,27,7.09,2.00,10.75,...,1390,271,83,581,0,455,2003-06-01,Anchorage,AK,Ted Stevens Anchorage International
2,2003,6,AA,American Airlines Inc.,ATL,752,186,33.99,27.82,104.76,...,8314,1367,1722,3817,139,1269,2003-06-01,Atlanta,GA,Hartsfield-Jackson Atlanta International
3,2003,6,AA,American Airlines Inc.,AUS,842,174,60.24,20.54,47.78,...,8344,3040,1032,1835,115,2322,2003-06-01,Austin,TX,Austin - Bergstrom International
4,2003,6,AA,American Airlines Inc.,BDL,383,55,14.90,8.91,14.57,...,3137,815,574,555,0,1193,2003-06-01,Hartford,CT,Bradley International
5,2003,6,AA,American Airlines Inc.,BHM,89,12,2.79,2.19,2.20,...,673,94,90,50,35,404,2003-06-01,Birmingham,AL,Birmingham-Shuttlesworth International
6,2003,6,AA,American Airlines Inc.,BNA,445,82,25.44,11.98,17.90,...,4663,1217,913,800,1,1732,2003-06-01,Nashville,TN,Nashville International
7,2003,6,AA,American Airlines Inc.,BOS,1266,225,69.43,23.66,83.93,...,12139,4201,1783,3067,45,3043,2003-06-01,Boston,MA,Logan International
8,2003,6,AA,American Airlines Inc.,BUR,119,27,7.49,4.65,7.81,...,1187,326,191,285,0,385,2003-06-01,Burbank,CA,Bob Hope
9,2003,6,AA,American Airlines Inc.,BWI,593,101,17.56,20.49,38.26,...,5698,1058,1332,1708,0,1600,2003-06-01,Baltimore,MD,Baltimore/Washington International Thurgood M...
10,2003,6,AA,American Airlines Inc.,CLE,172,29,5.51,3.21,11.76,...,2037,598,250,418,0,771,2003-06-01,Cleveland,OH,Cleveland-Hopkins International
11,2003,6,AA,American Airlines Inc.,CLT,203,48,16.57,9.72,10.07,...,3048,968,742,558,127,653,2003-06-01,Charlotte,NC,Charlotte Douglas International
12,2003,6,AA,American Airlines Inc.,CMH,231,29,8.60,5.12,12.65,...,1314,292,302,522,0,198,2003-06-01,Columbus,OH,John Glenn Columbus International
13,2003,6,AA,American Airlines Inc.,COS,205,53,16.51,8.64,18.40,...,2468,669,581,723,34,461,2003-06-01,Colorado Springs,CO,City of Colorado Springs Municipal
14,2003,6,AA,American Airlines Inc.,DAY,59,14,5.28,2.44,2.15,...,805,326,223,57,0,199,2003-06-01,Dayton,OH,James M Cox/Dayton International
15,2003,6,AA,American Airlines Inc.,DCA,947,147,42.88,24.89,52.71,...,7868,2048,1484,2767,3,1566,2003-06-01,Washington,DC,Ronald Reagan Washington National
16,2003,6,AA,American Airlines Inc.,DEN,750,157,42.66,19.38,70.31,...,7446,2098,1193,2780,46,1329,2003-06-01,Denver,CO,Denver International
17,2003,6,AA,American Airlines Inc.,DFW,12276,2144,392.85,66.72,1070.37,...,117195,31999,4787,43864,459,36086,2003-06-01,Dallas/Fort Worth,TX,Dallas/Fort Worth International
18,2003,6,AA,American Airlines Inc.,DSM,140,17,3.39,1.57,5.07,...,866,212,50,259,0,345,2003-06-01,Des Moines,IA,Des Moines International
19,2003,6,AA,American Airlines Inc.,DTW,576,82,22.30,11.17,30.04,...,3922,1029,791,1059,0,1043,2003-06-01,Detroit,MI,Detroit Metro Wayne County
20,2003,6,AA,American Airlines Inc.,EGE,17,7,4.01,1.08,1.55,...,225,131,42,41,0,11,2003-06-01,Eagle,CO,Eagle County Regional
21,2003,6,AA,American Airlines Inc.,ELP,269,78,27.29,9.68,27.28,...,3589,1113,564,982,22,908,2003-06-01,El Paso,TX,El Paso International
22,2003,6,AA,American Airlines Inc.,EWR,835,149,40.90,7.89,76.74,...,7783,2092,603,3383,0,1705,2003-06-01,Newark,NJ,Newark Liberty International
23,2003,6,AA,American Airlines Inc.,FAT,77,21,4.09,3.53,7.84,...,906,337,99,216,0,254,2003-06-01,Fresno,CA,Fresno Yosemite International
24,2003,6,AA,American Airlines Inc.,FLL,658,146,40.18,10.05,71.19,...,6181,1765,481,2318,18,1599,2003-06-01,Fort Lauderdale,FL,Fort Lauderdale-Hollywood International
25,2003,6,AA,American Airlines Inc.,HNL,278,57,30.06,2.06,18.87,...,3941,2602,104,915,39,281,2003-06-01,Honolulu,HI,Daniel K Inouye International
26,2003,6,AA,American Airlines Inc.,HOU,102,24,3.86,0.58,12.35,...,1427,200,97,557,0,573,2003-06-01,Houston,TX,William P Hobby
27,2003,6,AA,American Airlines Inc.,HPN,168,22,6.89,0.00,10.74,...,913,343,0,347,0,223,2003-06-01,White Plains,NY,Westchester County
28,2003,6,AA,American Airlines Inc.,HSV,72,15,6.76,4.31,1.02,...,822,408,212,87,0,115,2003-06-01,Huntsville,AL,Huntsville International-Carl T Jones Field
29,2003,6,AA,American Airlines Inc.,IAD,445,76,17.58,15.86,32.62,...,3661,997,759,1225,0,680,2003-06-01,Washington,DC,Washington Dulles International
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240863,2018,5,YX,Republic Airline,MLI,19,8,0.68,0.07,4.08,...,448,26,2,125,0,295,2018-05-01,Moline,IL,Quad City International
240864,2018,5,YX,Republic Airline,MSN,55,13,4.84,0.00,2.38,...,1381,512,0,445,0,424,2018-05-01,Madison,WI,Dane County Regional-Truax Field
240865,2018,5,YX,Republic Airline,MSP,401,65,11.55,7.57,22.76,...,3880,551,845,844,8,1632,2018-05-01,Minneapolis,MN,Minneapolis-St Paul International
240866,2018,5,YX,Republic Airline,MSY,324,36,9.37,4.17,8.56,...,2389,410,573,465,0,941,2018-05-01,New Orleans,LA,Louis Armstrong New Orleans International
240867,2018,5,YX,Republic Airline,MYR,46,8,3.05,0.00,2.16,...,484,267,0,52,0,165,2018-05-01,Myrtle Beach,SC,Myrtle Beach International
240868,2018,5,YX,Republic Airline,OKC,91,10,1.78,1.00,0.76,...,738,123,15,62,0,538,2018-05-01,Oklahoma City,OK,Will Rogers World
240869,2018,5,YX,Republic Airline,OMA,297,38,11.22,1.28,12.55,...,2514,770,139,673,0,932,2018-05-01,Omaha,NE,Eppley Airfield
240870,2018,5,YX,Republic Airline,ORD,1716,355,50.01,16.06,195.22,...,26540,4359,1379,14090,15,6697,2018-05-01,Chicago,IL,Chicago O'Hare International
240871,2018,5,YX,Republic Airline,ORF,189,29,3.51,4.96,7.37,...,1336,102,273,224,0,737,2018-05-01,Norfolk,VA,Norfolk International
240872,2018,5,YX,Republic Airline,PBI,12,1,0.00,0.00,1.00,...,30,0,0,30,0,0,2018-05-01,West Palm Beach/Palm Beach,FL,Palm Beach International
240873,2018,5,YX,Republic Airline,PHL,1735,384,40.62,5.64,270.46,...,25142,3404,740,15129,57,5812,2018-05-01,Philadelphia,PA,Philadelphia International
240874,2018,5,YX,Republic Airline,PIT,735,135,36.76,6.83,36.69,...,9706,2545,958,1562,0,4641,2018-05-01,Pittsburgh,PA,Pittsburgh International
240875,2018,5,YX,Republic Airline,PNS,34,10,0.60,0.00,3.34,...,517,16,0,123,16,362,2018-05-01,Pensacola,FL,Pensacola International
240876,2018,5,YX,Republic Airline,PVD,118,23,3.69,0.00,7.27,...,781,131,0,208,0,442,2018-05-01,Providence,RI,Theodore Francis Green State
240877,2018,5,YX,Republic Airline,PWM,46,4,1.00,0.00,0.00,...,302,109,0,0,0,193,2018-05-01,Portland,ME,Portland International Jetport
240878,2018,5,YX,Republic Airline,RDU,441,60,22.40,0.76,14.20,...,3858,1357,165,751,0,1585,2018-05-01,Raleigh/Durham,NC,Raleigh-Durham International
240879,2018,5,YX,Republic Airline,RIC,61,11,4.01,0.49,1.92,...,766,355,17,119,0,275,2018-05-01,Richmond,VA,Richmond International
240880,2018,5,YX,Republic Airline,ROC,83,18,3.07,0.00,2.59,...,1283,154,0,261,0,868,2018-05-01,Rochester,NY,Greater Rochester International
240881,2018,5,YX,Republic Airline,RSW,4,1,0.00,0.00,1.00,...,52,0,0,52,0,0,2018-05-01,Fort Myers,FL,Southwest Florida International
240882,2018,5,YX,Republic Airline,SAV,15,1,0.02,0.00,0.00,...,45,1,0,0,0,44,2018-05-01,Savannah,GA,Savannah/Hilton Head International
240883,2018,5,YX,Republic Airline,SDF,349,60,15.43,1.56,6.31,...,4476,972,105,282,0,3117,2018-05-01,Louisville,KY,Louisville International-Standiford Field
240884,2018,5,YX,Republic Airline,SLC,5,0,0.00,0.00,0.00,...,0,0,0,0,0,0,2018-05-01,Salt Lake City,UT,Salt Lake City International
240885,2018,5,YX,Republic Airline,SRQ,30,5,0.00,0.00,2.44,...,118,0,0,59,0,59,2018-05-01,Sarasota/Bradenton,FL,Sarasota/Bradenton International
240886,2018,5,YX,Republic Airline,STL,289,29,8.78,1.66,7.14,...,1607,424,142,262,0,779,2018-05-01,St. Louis,MO,St Louis Lambert International
240887,2018,5,YX,Republic Airline,SYR,176,32,10.23,2.41,6.45,...,1605,503,261,274,0,567,2018-05-01,Syracuse,NY,Syracuse Hancock International
240888,2018,5,YX,Republic Airline,TLH,6,0,0.00,0.00,0.00,...,0,0,0,0,0,0,2018-05-01,Tallahassee,FL,Tallahassee International
240889,2018,5,YX,Republic Airline,TPA,1,0,0.00,0.00,0.00,...,0,0,0,0,0,0,2018-05-01,Tampa,FL,Tampa International
240890,2018,5,YX,Republic Airline,TUL,52,7,3.33,0.00,1.18,...,456,224,0,43,0,189,2018-05-01,Tulsa,OK,Tulsa International
240891,2018,5,YX,Republic Airline,VPS,26,1,0.00,0.00,1.00,...,16,0,0,16,0,0,2018-05-01,Valparaiso,FL,Eglin AFB Destin Fort Walton Beach
240892,2018,5,YX,Republic Airline,XNA,114,16,3.87,0.78,4.55,...,1054,130,28,316,0,580,2018-05-01,Fayetteville,AR,Northwest Arkansas Regional

In [44]:
iata = df[['carrier','carrier_name']]

In [53]:
dd = pd.merge(iata, airline_codes, on='carrier', how='left')

In [56]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 394488 entries, 0 to 394487
Data columns (total 7 columns):
carrier           394488 non-null object
carrier_name      394488 non-null object
ICAO              361190 non-null object
Airline           368107 non-null object
Call sign         368107 non-null object
Country/Region    368107 non-null object
Comments          172058 non-null object
dtypes: object(7)
memory usage: 24.1+ MB

In [60]:
dd

,carrier,carrier_name,ICAO,Airline,Call sign,Country/Region,Comments
0,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
1,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
2,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
3,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
4,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
5,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
6,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
7,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
8,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
9,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
10,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
11,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
12,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
13,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
14,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
15,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
16,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
17,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
18,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
19,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
20,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
21,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
22,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
23,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
24,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
25,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
26,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
27,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
28,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
29,AA,American Airlines Inc.,AAL,American Airlines,AMERICAN,United States,NaN
...,...,...,...,...,...,...,...
394458,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394459,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394460,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394461,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394462,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394463,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394464,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394465,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394466,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394467,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394468,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394469,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394470,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394471,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394472,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394473,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394474,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394475,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394476,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394477,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394478,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394479,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394480,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394481,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394482,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394483,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394484,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394485,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394486,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN
394487,YX,Republic Airline,NaN,NaN,NaN,NaN,NaN

In [69]:
dd[dd.Airline.isna()].groupby('carrier').count()

         carrier_name  ICAO  Airline  Call sign  Country/Region  Comments
carrier
RU               4136     0        0          0               0         0
UA              14466     0        0          0               0         0
XE               7375     0        0          0               0         0
YX                404     0        0          0               0         0

In [76]:
dd[dd.carrier == 'XE']

,carrier,carrier_name,ICAO,Airline,Call sign,Country/Region,Comments
94779,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94780,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94781,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94782,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94783,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94784,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94785,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94786,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94787,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94788,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94789,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94790,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94791,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94792,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94793,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94794,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94795,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94796,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94797,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94798,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94799,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94800,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94801,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94802,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94803,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94804,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94805,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94806,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94807,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
94808,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
258210,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258211,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258212,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258213,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258214,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258215,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258216,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258217,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258218,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258219,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258220,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258221,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258222,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258223,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258224,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258225,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258226,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258227,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258228,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258229,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258230,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258231,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258232,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258233,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258234,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258235,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258236,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258237,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258238,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN
258239,XE,ExpressJet Airlines Inc.,NaN,NaN,NaN,NaN,NaN

In [74]:
airline_codes[airline_codes.Airline.str.contains('United')]

Empty DataFrame
Columns: [carrier, ICAO, Airline, Call sign, Country/Region, Comments]
Index: []